body {
	margin:0;
	padding:0;
	font-family:Verdana,Arial;
	font-size:11px;
	color:#333333;
	background-color:transparent !important;
}
div {
	margin:0;
	padding:0;
}

/* ---------- main div ---------------*/
#mainbox {
	position:absolute;
	top:0;
	left:0;
	width:790px;
	height:490px;
	overflow:hidden;
	background:url(../image/game_bg.png) no-repeat left top;
	z-index:1;
}
/* ---------- info div ---------------*/
#infobox {
	position:absolute;
	top:0;
	left:0;
	width:790px;
	height:490px;
	overflow:hidden;
	display:none;
	background:url(../image/game_info.png) no-repeat left top;
	z-index:2;
}
#info {
	position:absolute;
	top:219px;
	left:283px;
	width:224px;
	height:133px;
	display:none;
	overflow:auto;
}
#info div {
	text-align: center;
	padding: 30px 20px;
}
#infoCtrl {
	position:absolute;
	top:359px;
	left:328px;
	width:224px;
	height:26px;
}
#infoCtrl input[type=button] {
	background-color:#FD4703;
	color:#fff;
	padding: 2px 20px;
}
	/* ---------- house div ---------------*/
#house {
	position:absolute;
	top:277px;
	left:33px;
	width:725px;
	height:170px;
	overflow:hidden;
	background:url(../image/bg_house.gif) no-repeat left top;
	z-index:1;
}
#dachtophouse1,#dachtophouse2,#dachtophouse3,#dachtophouse4,#dachtophouse5 {
	float:left;
	width:96px;
	height:43px;
	background:url(../image/dachtop_default.gif) no-repeat right top;
}
#dachcenterhouse1,#dachcenterhouse2,#dachcenterhouse3,#dachcenterhouse4,#dachcenterhouse5 {
	float:right;
	width:139px;
	height:23px;
	background:url(../image/dachcenter_default.gif) no-repeat left top;
}
#house1,#house2,#house3,#house4,#house5 {
	color:#f8f8f8;
	background:transparent;
}
div.boxDachSpc {
	width:10px;
	height:13px;
}
div.boxDach,div.boxDachFirst {
	float:left;
	margin: 0;
	width:139px;
	height:146px;
}
div.boxDachFirst {
	margin: 0 0 0 20px;
}
div.boxHouse {
	clear:both;
	width:120px;
	height:90px;
}
div.boxFlag {
	float:left;
	width:40px;
	height:40px;
}
div.boxFlag table {
	margin: 0;
	padding:0;
	width:40px;
	text-align:center;
}
div.boxFlag td{
	width:40px;
	height:40px;
	margin: 0;
	padding:0;
	background:url(../image/bg_item.gif) no-repeat left top;
}
/* ---------- control div ---------------*/
#control {
	position:absolute;
	top:28px;
	left:532px;
	width:225px;
	height:223px;
	overflow:hidden;
	z-index:2;
}
#btnGameStatus {
	position:absolute;
	top:91px;
	left:7px;
	width:214px;
	height:96px;
	text-align:center;
	overflow:hidden;
	cursor:pointer;
	background:url(../image/bg_button.gif) no-repeat left top;
	z-index:1;
}
#btnGameStatus div {
	padding-top:40px;
	font-size:16px;
	font-weight:bold;
	color:#f6f6f6;
}
#infoCat {
	position:absolute;
	top:202px;
	left:2px;
	width:103px;
	height:16px;
	text-align:center;
	overflow:hidden;
	z-index:2;
}
#infoCatProp {
	position:absolute;
	top:202px;
	left:119px;
	width:103px;
	height:16px;
	overflow:hidden;
	text-align:center;
	z-index:3;
}
#infoCat div,#infoCatProp div {
	padding-top:3px;
	font-size:9px;
	font-weight:bold;
	color:#cccccc;
}
/* ---------- text field div ---------------*/
#msg {
	position:absolute;
	top:28px;
	left:33px;
	width:224px;
	height:203px;
	overflow:hidden;
	background:url(../image/bg_textfield.gif) no-repeat left top;
	z-index:3;
}
#msg div.scroll {
	width:224px;
	height:203px;
	overflow:auto;
}
#msg div.scroll div {
	padding: 10px 20px 5px 20px;
}
#msg ul {
	padding:0;
	margin: 0 0 0 10px;
}
#msg li {
	padding:0;
	margin-top:5px;
}
#mainbox div.item {
	width:40px;
	height:40px;
	cursor:move;
}
/* ----------format table ---------------*/
table.boxHouse {
	margin: 0 0 0 9px;
	padding:0;
	width:94px;
	text-align:center;
	border:1px solid #999999;
}
table.boxHouse td{
	width:40px;
	height:40px;
	padding:0;
	margin:0;
	font-size:9px;
	background:url(../image/bg_item.gif) no-repeat left top;
}
/* ---------- format form ---------------*/
input.bt {
	width:140px;
	height:20px;
	text-align:center;
	padding: 1px 0 0 0;
	margin:0px auto;
	font-size:11px;
	font-weight:bold;
	background:#ff8800;
	color:#ffffff;
}
/* ---------- format class default ---------------*/
div.clearB {
	clear:both;
}